**/node_modules
**/.next
**/.turbo
**/dist
**/.cache
**/.git
**/.env
**/.env.*
!**/.env.example
**/coverage
**/*.md
.git
out
.cursor
.agent-transcripts
apps/admin
apps/backoffice
apps/commerce
apps/customizer
apps/docs
apps/editor
apps/landing
**/*.webp
**/*.png
**/*.jpg
**/*.jpeg
**/*.mp4
**/*.glb
**/*.gltf
