@import "tailwindcss";
@import "@repo/tailwind-config";
@source "../../../packages/color-config/src";
@source "../../../packages/colorways/src";
@source "../../../packages/customizer-ui/src";
@source "../../../packages/ui/src";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  color: #353535;
  background: #ded9d9;
}
