NEXT_PUBLIC_GOOGLE_FORM_ACTION_URL=https://docs.google.com/forms/d/e/1FAIpQLSfwtbtFa3lTY6zwicYrRVMes_fO5BettdFGuCIUGbIsr8PjpQ/formResponse
NEXT_PUBLIC_GOOGLE_FORM_ENTRY_NAME=entry.435239021
NEXT_PUBLIC_GOOGLE_FORM_ENTRY_EMAIL=entry.1071731696
NEXT_PUBLIC_GOOGLE_FORM_ENTRY_COMPANY=entry.101350201
NEXT_PUBLIC_GOOGLE_FORM_ENTRY_INTEREST=entry.1712282821
NEXT_PUBLIC_GOOGLE_FORM_ENTRY_MESSAGE=entry.841298509
